
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientCredentials</title>
</head>
<body>
    <div> 
        <h2>Result</h2>

        <pre>@ViewBag.Json</pre>
    
    </div>
</body>
</html>
